/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.st-outer {
  padding: 30px;
  background: #fff;
  margin-top: -10px;
  border: 1px solid #eaeaea;
  font-family: Helvetica; }

.st-format-bar {
  font-size: 16px; }

.st-text-block ul {
  list-style-type: disc; }

.st-block-control {
  text-decoration: none; }
.sortable-tree {
  width: 75%; }
  .sortable-tree ol {
    border-left: 1px dashed silver;
    margin-left: 20px;
    padding-left: 20px; }
  .sortable-tree p {
    margin-right: 75px;
    padding: 5px; }
  .sortable-tree .item {
    position: relative;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #efefef));
    background-image: -webkit-linear-gradient(#f7f7f7, #efefef);
    background-image: linear-gradient(#f7f7f7, #efefef);
    border-bottom: 1px solid #dedede;
    border-radius: 3px;
    margin-bottom: 5px; }
    .sortable-tree .item:hover {
      background: #eee; }
    .sortable-tree .item > a {
      text-decoration: none;
      display: block;
      margin-left: 0;
      padding: 10px 15px;
      font-size: 16px; }
      .sortable-tree .item > a:hover {
        background: #eee;
        text-decoration: underline; }
  .sortable-tree .placeholder {
    background-color: #fff8cb;
    border-bottom: 1px solid #FFF298;
    margin-bottom: 3px;
    border-radius: 3px;
    height: 40px; }
  .sortable-tree .ui-nestedSortable-error {
    background: #FAA;
    color: #8a1f11; }
  .sortable-tree .handle {
    cursor: move;
    padding: 10px;
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.2;
    float: left; }
    .sortable-tree .handle:hover {
      color: #4e5357; }
  .sortable-tree .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; }
    .sortable-tree .controls a {
      padding: 10px;
      color: #aaa;
      font-size: 16px;
      text-decoration: none;
      line-height: 1.2; }
      .sortable-tree .controls a:hover {
        color: #4e5357; }
      .sortable-tree .controls a.delete:hover {
        color: red; }
