<div class="col-sm-2 col-xs-4">
  <div class="bronze-sponsor">
    <% if bronze_sponsor.website.blank? %>
      <%= image_tag bronze_sponsor.logo_url(:medium) %>

    <% else %>
      <%= link_to convert_to_url(bronze_sponsor.website) do %>
        <%= image_tag bronze_sponsor.logo_url(:medium) %>
      <% end %>
    <% end %>
  </div>
</div>
