<div class="col-sm-3">
  <div class="gold-sponsor">
    <%= link_to gold_sponsor.website, target: '_blank' do %>
      <%= image_tag gold_sponsor.logo_url(:medium),
            class: 'img-responsive' %>
    <% end %>
  </div>
</div>
