<div class="col-sm-3">
  <div class="gold-sponsor">
    <% if gold_sponsor.website.blank? %>
      <%= image_tag gold_sponsor.logo_url(:medium),
            class: 'img-responsive center-block' %>

    <% else %>
      <%= link_to gold_sponsor.website do %>
        <%= image_tag gold_sponsor.logo_url(:medium),
            class: 'img-responsive center-block' %>
      <% end %>
    <% end %>
  </div>
</div>