<div class="col-sm-4">
  <div class="platinum-sponsor">
    <%= link_to platinum_sponsor.website, target: '_blank' do %>
      <%= image_tag platinum_sponsor.logo_url(:large),
            class: 'img-responsive' %>
    <% end %>
  </div>
</div>
