<div class="col-sm-2">
  <div class="silver-sponsor">
    <% if silver_sponsor.website.blank? %>
      <%= image_tag silver_sponsor.logo_url(:medium),
            class: 'img-responsive center-block' %>

    <% else %>
      <%= link_to convert_to_url(silver_sponsor.website) do %>
        <%= image_tag silver_sponsor.logo_url(:medium),
            class: 'img-responsive center-block' %>
      <% end %>
    <% end %>
  </div>
</div>
