<div class="container">
  <div class="row">
    <div class="platinum-sponsors sponsors-logos">
      <h4 class="group-title">
        Platinum Sponsors
      </h4>
      <%= render partial: 'platinum_sponsor',
                 collection: @platinum_sponsors %>
    </div>

    <% if @gold_sponsors.any? %>
      <div class="gold-sponsors sponsors-logos">
        <h4 class="group-title">
          Gold Sponsors
        </h4>
        <%= render partial: 'gold_sponsor',
                   collection: @gold_sponsors %>
      </div>
    <% end %>
    
    <% if @silver_sponsors.any? %>
      <div class="silver-sponsors sponsors-logos">
        <h4 class="group-title">
          Silver Sponsors
        </h4>
        <%= render partial: 'silver_sponsor',
                   collection: @silver_sponsors %>
      </div>
    <% end %>

    <% if @bronze_sponsors.any? %>
      <div class="bronze-sponsors sponsors-logos">
        <h4 class="group-title">
          Bronze Sponsors
        </h4>
        <%= render partial: 'bronze_sponsor',
                   collection: @bronze_sponsors %>
      </div>
    <% end %>
  </div>
</div>
