<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <% @sponsors.each do |sponsor| %>
          <li><%= sponsor.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
