<div class="container">
  <div class="row">
    <div class="platinum-sponsors sponsors-logos">
      <%= render partial: 'platinum_sponsor',
                 collection: @platinum_sponsors %>
    </div>

    <div class="gold-sponsors">
      <%= render partial: 'gold_sponsor',
                 collection: @gold_sponsors %>
    </div>

    <div class="silver-sponsors">
      <%= render partial: 'gold_sponsor',
                 collection: @silver_sponsors %>
    </div>

    <div class="bronze-sponsors">
      <%= render partial: 'gold_sponsor',
                 collection: @bronze_sponsors %>
    </div>

  </div>
</div>
