<div class="bg-image"></div>

<%= render_sir_trevor(@page.body) %>

<div class="container">
    <div id="hero">
      <div class="col-sm-12 text-center">
        <h1>
          Tour De Fun
        </h1>
        <h2>
          <%= Timeslot.first_show_time %>
        </h2>

        <%= artists_count %> artists,
        <%= venues_count %> venues,
        and motherfucking bikes

      </div>
    </div>
</div>

