<div class="bg-image"></div>

<div class="container">
    <div id="hero">
      <div class="col-sm-12 text-center">
        <h1 class="pacifico">
          <span style="letter-spacing:-.14em">T</span>our De Fun
        </h1>
        <h2>
          <%= Timeslot.first_show_time %>
        </h2>
        <h2>
          Bike centric music and arts festival
        </h2>

        <div class="tagline">
          <%= link_to timeslots_path do %>
            Together we do fun things. Let's do fun things, together.
          <% end %>
        </div>
        
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <a href="http://www.eventbrite.com/e/tour-de-fun-2015-tickets-16267717180?ref=ebtn" target="_blank" class="btn btn-success btn-sm btn-block">Order tickets here!
            </a>
          </div>
          <% if false %>
            <div class="col-sm-3 col-xs-6">
              <a href="https://s3.amazonaws.com/tourdefun/map/TDFMAP.pdf" class="btn btn-success btn-sm btn-block">
                Download the Map!
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

