<div class="bg-image"></div>

<div class="container">
    <div id="hero">
      <div class="col-sm-12 text-center">
        <h1 class="pacifico">
          Tour De Fun
        </h1>
        <h2>
          <%= Timeslot.first_show_time %>
        </h2>
        <h2>
          Bike centric music and arts festival
        </h2>

        <div id="stats">
          <%= link_to timeslots_path do  %>
            <%= pluralize artists_count, 'artist' %>,
            <%= pluralize venues_count, 'venue' %>,
            food trucks, local beer, free to all ages&nbsp;&rarr;
          <% end %>
        </div>

      </div>
    </div>
</div>

