<div class="bg-image"></div>

<%= render_sir_trevor(@page.body) %>

<div class="container">
    <div class="col-lg-12 text-center">
    </div>

    <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aut facilis modi libero cum explicabo quo laborum doloremque velit sed quam nesciunt eaque accusamus aspernatur blanditiis molestias quisquam repellendus hic!
    </div>
    <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sint, iure at incidunt temporibus rem molestias nam iusto excepturi dignissimos tempore quisquam ex. Voluptatibus, eos, enim sed cumque quasi atque?
    </div>
    <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo similique quibusdam fuga dolor aliquid ea voluptatibus quo nostrum consequatur maiores! Nostrum, voluptas, vitae iure laboriosam ducimus saepe totam distinctio rem?
    </div>

</div>

