a {
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.pacifico {
  font-family: pacificoregular;
}

@media screen and (max-width: $container-sm) {
  h1 {
    font-size: 42px;
    margin-top: 20px;
  }
  h2 {
    font-size: 36px;
  }
}
