#pages.home {
  color: white;
  #header {
    background: none;
    &:before {
      background: none;
    }
  }
  #copyright {
    color: white;
    a {
      color: inherit;
      border-bottom: 1px solid;
    }
  }
  .lead {
    color: #fff;
  }
}
