@import 'compass/layout';
@include sticky-footer(100px);

#primary-nav {
  @include clearfix;
  @include background-image(linear-gradient(bottom, rgba(#000, 0), rgba(#000, 0.2)));
  nav {
    margin-top: 40px;
    a {
      color: white;
      @include inline-block;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 28px;
      text-shadow: 0 1px 1px rgba(#000, 0.8);
      font-family: pacificoregular;
      @include transition(opacity 200ms ease-out);
      &:hover {
        text-decoration: none;
        @include opacity(0.5);
      }
    }
  }
  #logo {
    padding: 0;
    text-align: center;
    @include transition(500ms);
    &:hover {
      @include transform(rotate(360deg));
    }
    img {
      max-width: 80%;
      @include inline-block;
    }
  }
}

#hero {
  color: white;
  text-shadow: 0 1px 1px rgba(#000, 0.8);
  margin-top: 50px;
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 50px;
    font-weight: bold;
  }
  #stats {
    font-size: 30px;
  }
}

#masthead {
  background: image-url('background.png') center left no-repeat;
  margin-top: -35px;
  margin-bottom: 60px;
  background-size: cover;
  position: relative;
  &:before {
    background: rgba(#8e44ad, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
  }
  h1 {
    color: white;
    margin: 60px 0;
  }
}

#main {
  margin-bottom: 60px;
}

#footer {
  font-size: small;
  color: $gray-light;
}
