@import 'compass/layout';
@include sticky-footer(100px);

#masthead {
  background: image-url('background.png') center left no-repeat;
  margin-top: -35px;
  margin-bottom: 60px;
  h1 {
    color: white;
    margin: 60px 0;
  }
}
