@import 'compass/layout';
@include sticky-footer(100px);

#primary-nav {
  @include clearfix;
  @include background-image(linear-gradient(bottom, rgba(#000, 0), rgba(#000, 0.2)));
  nav {
    margin-top: 40px;
    a {
      color: white;
      @include inline-block;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 28px;
      text-shadow: 0 1px 1px rgba(#000, 0.8);
      font-family: pacificoregular;
      @include transition(opacity 200ms ease-out);
      &:hover {
        text-decoration: none;
        @include opacity(0.5);
      }
    }
  }
  #logo {
    padding: 0;
    text-align: center;
    img {
      max-width: 80%;
      @include inline-block;
      @include transition(500ms);
      &:hover {
        @include transform(rotate(360deg));
      }
    }
  }
}

#hero {
  color: white;
  text-shadow: 0 1px 1px rgba(#000, 0.8);
  margin-top: 50px;
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 50px;
    font-weight: bold;
  }
  #stats {
    font-size: 30px;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }
  }
}

#header {
  background: image-url('backgroundcolor.jpg') center left no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $container-sm) {
    background: none;
    &:before {
      background: none;
      display: none;
    }
  }
}

#page-title {
  margin-bottom: 30px;
  h4 {
    font-weight: bold;
    color: #999;
  }
}

#main {
  margin-bottom: 60px;
}

#footer {
  font-size: small;
  color: $gray-light;
}
