.navbar-transparent {
  background: #2c3e50;
  .navbar-brand {
    width: 64px;
  }
  .navbar-toggle {
    outline: none;
    .icon-bar {
      background: white;
    }
  }
  .navbar-nav {
    a {
      color: white;
      border-bottom: 1px solid rgba(#fff, 0.1);
      &:hover {
        background: none;
        color: white;
      }
    }
    li {
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}
