ul.list-plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: image-url('backgroundcolor.jpg') no-repeat center center;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(#000, 0);
  }
  @media screen and (max-width: $container-sm) {
    &:after {
      background: rgba(#000, 0.2);
    }
  }
}
