<%= div_for timeslot do %>
  <header>
    <div class="row">
      <div class="col-sm-12">
        <h2>
          <%= timeslot.start.strftime('%l:%M%P') %>
          <small class="text-muted">
            <%= link_venue timeslot.venue %>
          </small>
        </h2>
      </div>
    </div>
  </header>

  <% if timeslot.artists.any? %>
    <ul class="list-plain">
      <% timeslot.artists.each do |artist| %>
        <li>
          <%= link_to_unless artist.website.blank?,
                artist.name, artist.website %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <p class="text-muted">
      No artists scheduled for this time
    </p>
  <% end %>
<% end %>
