<h1>April 14, 2014</h1>

<header>
  <h2><%= timeslot.start.strftime('%l:%M%P') %></h2>
  <h4 class="text-muted">
    <%= link_venue timeslot.venue %>
  </h4>
</header>

<% timeslot.artists.each do |artist| %>
  <%= link_to_unless artist.website.blank?,
        artist.name, artist.website %>
<% end %>
