<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">List</a></li>
        <li><a href="#">Map</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h1>
        <%= Timeslot.first_show_time %>
      </h1>

      <%= render @timeslots %>
    </div>
  </div>
</div>
