<div class="container">
  <nav class="centered-tabs">
    <a href="#shows" class="active">Shows</a>
    <a href="#map">Map</a>
  </nav>

  <div class="tab-content">
    <div class="tab-pane active row" id="shows">
      <div class="col-sm-10 col-sm-offset-1">

        <% @timeslots.group_by(&:start).each do |start, timeslots| %>
          <div class="timesection <%= timeslot_past(start) %>">
            <h2 id="<%= start.strftime('%l:%M%P').strip %>">
              <strong><%= start.strftime('%l:%M%P') %></strong>
            </h2>

            <%= render timeslots %>
          </div>
        <% end %>


        <% if @timeslots.blank? %>
          <h4 class="text-muted">
            I got nothin.
          </h4>
        <% end %>
      </div>
    </div>

    <div class="tab-pane row" id="map">
      <div class="col-sm-12">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>
