<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <ul class="nav nav-tabs hidden-xs">
        <li class="active">
          <a href="#list" data-toggle="tab">List</a>
        </li>
        <li>
          <a href="#map" data-toggle="tab">Map</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active row" id="list">
      <div class="col-sm-10 col-sm-offset-1">
        <%= render @timeslots %>

        <% if @timeslots.blank? %>
          <h4 class="text-muted">
            I got nothin.
          </h4>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="map">
      <div id="map-canvas">
        [map]
      </div>
    </div>
  </div>
</div>
