<div class="container">
  <div class="tab-content">
    <div class="tab-pane active row" id="list">
      <div class="col-sm-10 col-sm-offset-1">
        <%= render @timeslots %>

        <% if @timeslots.blank? %>
          <h4 class="text-muted">
            I got nothin.
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
