<div class="container">
  <div class="row sponsors-logos">
    <p class="lead text-center">
      Tour De Fun <%= Date.today.year %> is sponsored by
    </p>

    <% platinum_sponsors.each do |sponsor| %>
      <div class="col-sm-6 text-center">
        <%= link_to_unless sponsor.website.blank?,
              image_tag(sponsor.logo.url(@page.home? ? :medium_inverted : :medium),
                        alt: sponsor.name,
                        class: 'img-responsive center-block')
          %>
    </div>
      <% end %>
  </div>

  <div id="copyright" class="row">
    <div class="col-sm-12">
      <p>
        &copy; <%= Date.today.year %> Tour de Fun. Made with all the love in the world by <a href="http://twitter.com/nicinabox">@nicinabox</a> and <a href="http://twitter.com/njbiddle">@njbiddle</a>.
      </p>
      <p>
      Images by <a href="http://30mileswest.com/">Ryan Green Photography</a>
      </p>
    </div>
  </div>
</div>
