<div id="primary-nav" class="hidden-xs">
  <nav class="nav-left col-sm-5 text-right">
    <a href="/about">About</a>
    <a href="/shows">Shows</a>
  </nav>

  <a href="/" id="logo" class="col-sm-2">
    <%= image_tag "tdflogo-white.png", :alt => "TOUR DE FUN", :class => 'img-responsive' %>
  </a>

  <nav class="nav-right col-sm-5">
    <a href="/sponsors">Sponsors</a>
    <a href="/contact">Contact</a>
  </nav>
</div>

<nav class="navbar navbar-transparent visible-xs" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav-mobile">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "tdflogo-white.png", :alt => "TOUR DE FUN", :class => 'img-responsive' %>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="primary-nav-mobile">
      <ul class="nav navbar-nav">
        <li>
          <a href="/shows">Shows</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/sponsors">Sponors</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
