<div id="primary-nav">
  <nav class="nav-left col-sm-5 text-right">
    <a href="/about">About</a>
    <a href="/shows">Shows</a>
  </nav>

  <a href="/" id="logo" class="col-sm-2">
    <%= image_tag "tdflogo-white.png", :alt => "TOUR DE FUN", :class => 'img-responsive' %>
    <div class="cutout"></div>
  </a>

  <nav class="nav-right col-sm-5">
    <a href="/sponsors">Sponors</a>
    <a href="/contact">Contact</a>
  </nav>
</div>
