<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Tour de Fun</a>
  </div>

  <div class="collapse navbar-collapse" id="primary-nav">
    <ul class="nav navbar-nav">
      <li>
        <a href="/shows">Shows</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
